@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important;
}
.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}
.auth-card{
  padding: 40px;
  text-align: center;
  max-width: 400px;
  margin:10px auto;
}

.input-field input[type=text][type=password]:focus {
  border-bottom: 1px solid rgb(7, 7, 197) !important;
  box-shadow: 0 1px 0 0 rgb(8, 8, 196) !important;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item{
  width: 40%;
  height: 200px;
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin:26px auto;
}
i{
  cursor: pointer;
  margin-right: 10px;
}