nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 
    align-items: center;
}
.brand-logo{
    margin-left: 20px;
}
.right{
    margin-right: 20px;
}
button{
    margin-left: 3px;
    background-color: rgb(236, 85, 85) !important;
}
li{
    font-size: 21px !important;
    font-weight: 600;
}